body {
  font-family: 'Raleway', sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: rgb(211, 211, 211);
}

nav * .nav-link:hover {
  color: rgb(171, 171, 171);
}

nav * .nav-link:focus {
  color: white;
}

nav * .nav-link {
  color: rgb(48, 49, 50);
}

.input-search{
  border-style: none;
  letter-spacing: 2px;
  outline: none;
  color: rgb(130, 130, 130);
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
}

.search-top-css {
  display: flex;
  border-bottom:1px solid rgba(255,255,255,.5);
}

.search-css {
  flex-shrink: 0;
  height: .9em;
  max-height: 50px;
  max-width: 50px;
  min-height: 14px;
  min-width: 14px;
  width: .9em;
  padding-right: 5px;
}

header {
  background-color: rgb(35, 91, 83);
}

header * .nav-link:hover {
  color: rgb(161, 194, 201);
}

header * .nav-link:focus {
  color: white;
}

header * .nav-link {
  color: rgb(211, 211, 211);
}

header * span {
  color: rgb(211, 211, 211);
}

.small-text {
  font-size: 0.5rem;
}

.med-text {
  font-size: 0.8rem;
}

.spaced {
  letter-spacing: 0.3em;
}


.iframe_container {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.my_iframe {
  flex-grow: 1;
  border: 0;
  margin: 0;
  padding: 0;
}


.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

#compute-schedules-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: auto;
  margin-top: 25vh;
  margin-bottom: 25vh;
  background-color: rgb(35, 91, 83);
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

#loading img {
  display: block;
  margin: auto;
}
